:root {
    --grey: #E2E2E2;
    --blue: #3B94C9;
    --white: #FFFFFF;
    --title: 'Helvetica Neue';
    --text: Verdana;
}

#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 80px;
    height: 100%;
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.links img {
    height: 55px;
    width: 55px;
    opacity: 1;
    /* Default opacity is 1 */

}

.links img :hover {
    cursor: pointer;
    opacity: 1;
    /* When the mouse hovers over the element, the opacity is 1 */
}

.links img:not(:hover) {
    opacity: 0.5;
    /* When the mouse leaves the element, the opacity is 0.5 */
}

#powerOff img {
    height: 55px;
    width: 55px;
}


#header {
    height: 130px;
    width: calc(100% - 80px);
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#header h1 {
    margin-top: 40px;
}

#patient {
    margin-top: 10px;
    height: 120px;
    width: 120px;
}

#logo {
    height: 100px;
    width: 100px;
    margin-top: 10px;
}

#container {
    height: 65px;
    width: 100%;
    width: calc(100% - 80px);
    margin-top: 15px;
    margin-left: 15px;
    border-top: 2px solid var(--blue);
    border-bottom: 2px solid var(--grey);
}

#container a img {
    width: 50px;
    height: 50px;
    margin-left: 15px;
    padding-top: 10px;
    float: left;
}

#container a {
    opacity: 1;
}

#container a :hover {
    opacity: 1;
}

#container a :not(:hover) {
    opacity: 0.5;
}

#container h2 {
    font-family: var(--title);
    text-align: center;
}

#inputs {
    width: 100%;
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#inputs input {
    height: 25px;
    width: 160px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

#search {
    width: calc(100% - 30px);
    height: 30px;
    margin-top: 20px;
    border-bottom: 2px solid var(--blue);
    margin-left: 15px;
}

#search button {
    float: right;
    color: var(--white);
    background: var(--blue);
    border: solid var(--blue);
    width: 110px;
    height: 30px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
}

#search button:hover {
    cursor: pointer;
}

#table {
    margin-top: 25px;
    width: calc(100% - 30px);
    margin-left: 15px;
}

table,
th,
td {
    border: 0.5px solid rgba(112, 112, 112, 0.355);
    border-collapse: collapse;
    text-align: center;
}

table {
    width: 100%;
    font-family: var(--text);
    font-size: 16px;
    background: var(--grey);
}

th {
    height: 20px;
    font-family: var(--text);
    font-size: 13px;
    font-weight: 600;
    background: #ffffffbc;
}

td {
    font-size: 13px;
}

td a {
    opacity: 1;
}

td a :hover {
    cursor: pointer;
    opacity: 1;
}

td a :not(:hover) {
    opacity: 0.5;
}

td img {
    width: 20px;
    height: 20px;
}

#action {
    width: 50px;
}

#civilité{
    width: 30px;
}