:root {
    --dark-grey: #4D4D4E;
    --grey: #E2E2E2;
    --blue: #3B94C9;
    --white: #FFFFFF;
    --red: #850606;
    --title: 'Helvetica Neue';
    --text: Verdana;
}

#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 80px;
    height: 100%;
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.links img {
    height: 55px;
    width: 55px;
    opacity: 1;
    /* Default opacity is 1 */

}

.links img :hover {
    cursor: pointer;
    opacity: 1;
    /* When the mouse hovers over the element, the opacity is 1 */
}

.links img:not(:hover) {
    opacity: 0.5;
    /* When the mouse leaves the element, the opacity is 0.5 */
}

#powerOff img {
    height: 55px;
    width: 55px;
}

main {
    height: 130px;
    width: calc(100% - 80px);
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main h1 {
    margin-top: 40px;
    font-family: var(--title);
}

#waiting {
    margin-top: 20px;
    margin-left: 30px;
    height: 120px;
    width: 120px;
}

#logo {
    height: 100px;
    width: 100px;
    margin-top: 10px;
}

#container {
    height: 65px;
    width: 100%;
    width: calc(100% - 80px);
    margin-top: 15px;
    margin-left: 15px;
    border-top: 2px solid var(--blue);
    border-bottom: 2px solid var(--grey);
}

#container a img {
    width: 50px;
    height: 50px;
    margin-left: 15px;
    padding-top: 10px;
    float: left;
}

#container a {
    opacity: 1;
}

#container a :hover {
    opacity: 1;
}

#container a :not(:hover) {
    opacity: 0.5;
}

#container h2 {
    font-family: var(--title);
    text-align: center;
}
